@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Patrick+Hand&display=swap');


/* body {
    font-family: 'Gloria Hallelujah', cursive;
    color: #2b2b2b;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
} */

/* https://media0.giphy.com/media/WysKxC4FjN51mAYolG/giphy.gif?cid=ecf05e47ggtgp4bpn1e5ed7skauvcllz0w4zi970f3n3xhn6&ep=v1_stickers_search&rid=giphy.gif&ct=s */

/* agregar al header del rick and morty */

#characters {
    /* background: url(https://media0.giphy.com/media/KDQ25pahVfwGRvvT9X/giphy.gif?cid=ecf05e47n99a5c59kv04st8vmotlb4dc5mgqv3bofvbyie2i&ep=v1_gifs_search&rid=giphy.gif&ct=g); */
    background: url(https://media1.giphy.com/media/3oEduU2JjgQUGKyNvG/giphy.gif?cid=ecf05e47o934ulmt5jfm3pt8i1rhb8zv3b09s9ogbx5ji1iu&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.character {
    flex: 0 0 250px;
}

.loading::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .8);
}

.character div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character input {
    display: none;
}

.alive {
    width: 14px;
    height: 14px;
    background-color: #297a18;
    border-radius: 50%;
    margin-right: 2rem;
}

.dead {
    width: 14px;
    height: 14px;
    background-color: #c81f1f;
    border-radius: 50%;
    margin-right: 2rem;
}

.unknown {
    width: 14px;
    height: 14px;
    background-color: #949494;
    border-radius: 50%;
    margin-right: 2rem;
}


#character {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.data span{
    font-weight: bold;
}
