@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

/* Variables */

:root {
    --Color-Header-Footer: linear-gradient(#5b148f, #430074);
    --Color-Fuente-principal: #fbf3ff;
}

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

/* Heander */

.APIs-header, .APIs-footer {
    background: var(--Color-Header-Footer);
    color: var(--Color-Fuente-principal);
}

/* Navbar */

.nav-link, .navbar-brand{
    color: var(--Color-Fuente-principal); 
    border-radius: 10px;
    padding: .3rem .5rem;
    transition: all .5s;
}

.nav-link:hover {
    background-color: yellow;
    color: black;
}

.navbar-toggler {
    border: 1px solid var(--Color-Fuente-principal);
}

.APIs-navbar-collapse {
    flex-grow: 0;
}

.nav-link.show {
    text-align: center !important;
} 

.APIs-navbar-nav.navbar-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

/* MAIN */

.APIs-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Apis-h1 {
    margin-bottom: 2rem;
}

.APIs-main-descripcion {
    border-radius: 73px;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 2rem;
    background: #e0b0ff;
    text-align: center;
    transition: all 1s;
}

.APIs-main-descripcion:hover {
    background-color: yellow;
    color: black;
}

.APIs-main-descripcion-parrafo {
    display: inline;
    font-size: 1.2em;
}

.Apis-h1, .Apis-h2 {
    font-family: 'Heebo', sans-serif;
    color: #cb1ad5;
    font-size: 2rem;
    padding: 2rem 0 1rem 0;
    transform: scale(1.5);
    transition: all 1s;
    cursor: default;
}

.Apis-h1:hover, .Apis-h2:hover {
    background-color: transparent;
    transform: scale(1);
}


.APIs-main-div-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    padding: 2rem;
}

.APIs-main-div-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    border: none;
    border-radius: 100%;
    padding: .5rem;
    transition: all 1s;
}

.APIs-card {
    width: 18rem;
    transition: all 1s;
    box-shadow: 20px 10px 20px 0px #ead2ff;
}

/* Carrusel */

.swiper {
    width: 100%;
    padding-bottom: 19px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    background-color: white;
    color: rgb(0, 0, 0) !important;
    border: 3px solid var(--Color-Fuente-principal);
    border-radius: 50%;
    padding: 1.5rem 1.7rem !important;
}

.APIs-card-body {
    display: none;
    background-color: #44007469;
    position: absolute;
    bottom: 0;
}

.APIs-card:hover>.APIs-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Color-Fuente-principal);
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

.APIs-btn {
    position: relative;
    background-color: black;
    color: var(--Color-Fuente-principal);
    border-color: #f3e6ff;
    transition: background-color 2s, color 2s, transform;
}

.APIs-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f3e6ff, #d9aeff, #f3e6ff, #d9aeff, #f3e6ff, #d9aeff);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

.APIs-btn:hover {
    background: linear-gradient(#f3e6ff, #d9aeff);
    color: black;
    transform: scale(1.1);
    transition: background-color 2s, color 2s;
}

/* Footer */

.APIs-footer-nav-div {
    justify-content: center !important;
}

.APIs-footer-nav-div-text {
    font-size: .7rem;
    font-weight: bold;
    margin: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
    
}

@media screen and (max-width: 1000px) {
    .APIs-btn {
        background: linear-gradient(#f3e6ff, #d9aeff);
        color: black;
        transform: scale(1.1);
        transition: background-color 2s, color 2s;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
}